<!DOCTYPE html>
<html ng-app="demo">
	<head>
		<title>Name New User</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	</head>

	<body ng-controller="demo2">
    <form role="form" ng-submit="createUser()">
        <div class="form-group">
		    <input type="text" ng-model="username" name="username" class="form-control"
                   id="username-box" placeholder="Enter Username..." style="max-width: 300px;">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>

	</body>

    <script type="text/javascript">

    angular.module('demo', [])
    .controller('demo2', ['$scope', '$log', '$http', '$window', '$location',
            function($scope, $log, $http, $window, $location) {
                $scope.createUser = function () {
                    var userInput = $scope.username;
                    $http.post("/user/create", {
                        'username': userInput,
                        'display_name': "{{ display_name }}",
                        'user_id': "{{ user_id }}",
                        'access_token': "{{ access_token }}",
                        'refresh_token': "{{ refresh_token }}"

                    }).success(function (results) {
                        $log.log('success');
                        $window.location.href = '/';
                        $location.path('/');
                        $scope.$apply();
                    }).error(function (error) {
                        $log.log('error');
                    });


                }
            }
    ]);
    </script>
</html>