<!DOCTYPE html>
<html ng-app="FitbitAPI">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
		<script src="/static/app.js"></script>
        <link rel="stylesheet" href="/static/blueprint.css"/>
    </head>
    <body>
            <h1>Fitbit User Management App</h1>
                {% from "security/_macros.html" import render_field_with_errors, render_field %}
                {% include "security/_messages.html" %}
                <div><a href="{{ url_for('security.logout') }}">Logout</a></div>
            <h2>Create New User/Reload Existing User</h2>

            <form action="/user/add/" method="post">
                <button type="submit" class="btn btn-default">Create New User</button>
                <blockquote>Add a new Fitbit subject or reload an existing user if errors appear after clicking the REFRESH button</blockquote>
            </form>

            <hr/>

            <h2>Download Data</h2>

            <form action="/download/data/" method="get">
                <button type="submit" class="btn btn-default">Download Data</button>
                <blockquote>Download most recent refresh of data as a CSV file. Consider refreshing data before downloading.</blockquote>
            </form>

            <hr/>

            <h2>Refresh Data</h2>

        <table ng-controller="FormController">
            <thead>
            <tr>
                <th colspan="4">Use the Refresh button to sync data with the fitbit site. Consider doing this before downloading data.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <button type="button" ng-click="refresh()" class="btn btn-default">Refresh</button>
                </td>
                <td colspan="2">
                    <blockquote>This may take up to a minute.</blockquote>{{ update_count }}
                </td>
            </tr>
            <tr>
                <th colspan="2">After refreshing, if you see errors for particular individuals relating to access tokens, try re-adding them using the CREATE NEW USER button.</th>
            </tr>
            {% raw %}
            <tr ng-repeat="msg in error_messages">
                <td class="error">{{ msg }}</td>
            </tr>
            {% endraw %}
            </tbody>

        </table>

            <hr/>

        <h2>Active Fibit Users</h2>
        <table ng-controller="GetFitbitUsers">
            <tr>
                <th>Username</th>
                <th>Display Name</th>
            </tr>
            {% raw %}
            <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.display_name}}</td>
            </tr>
            {% endraw %}
        </table>
        <hr/>
    </body>
</html>